body{
background:#eef3f8;
font-family:Arial,sans-serif;
font-size:13px;
margin:0;
}

/* MENU */

.sidebar{
position:fixed;
left:0;
top:0;
width:260px;
height:100vh;
background:#0d6efd;
padding:20px;
color:white;
overflow:auto;
}

.sidebar h3{
font-weight:bold;
margin-bottom:25px;
}

.menu-btn{
width:100%;
margin-bottom:10px;
border:none;
padding:12px;
border-radius:10px;
background:white;
color:#0d6efd;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.menu-btn:hover{
background:#dbeafe;
transform:translateX(5px);
}

.menu-btn.ativo{
background:#084298;
color:white;
}

/* CONTEÚDO */

.content{
margin-left:280px;
padding:20px;
}

/* CARDS */

.card-dashboard{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 2px 15px rgba(0,0,0,0.08);
margin-bottom:20px;
}

.numero{
font-size:28px;
font-weight:bold;
}

/* TÍTULOS */

h2{
font-weight:bold;
margin-bottom:20px;
}

h4{
font-weight:bold;
margin-bottom:15px;
}

/* FORMULÁRIOS */

.form-label{
font-weight:bold;
margin-bottom:5px;
}

.form-control{
font-size:13px;
border-radius:8px;
}

/* SERVIÇOS DO DIA */

.item-servico{
padding:12px;
border-bottom:1px solid #eee;
cursor:pointer;
transition:0.3s;
}

.item-servico:hover{
background:#f8fafc;
}

.item-servico strong{
color:#0d6efd;
}

/* PENDÊNCIAS */

.item-pendente{
padding:12px;
border-bottom:1px solid #eee;
}

.pendente{
font-weight:bold;
color:#dc3545;
}

/* BOTÕES */

.btn{
border-radius:8px;
font-size:13px;
}

/* PAGAMENTOS REGISTRADOS */

.item-pagamento{

padding:6px 10px;
border-bottom:1px solid #eee;
font-size:13px;
line-height:1.2;

}

/* RECEBIDOS DO MÊS */

.item-recebido{
padding:6px 10px;
border-bottom:1px solid #eee;
font-size:13px;
line-height:1.2;

}

/* RESPONSIVO */

@media(max-width:768px){

.sidebar{
position:relative;
width:100%;
height:auto;
display:block;
padding:10px;
}
.menu-btn{
margin-bottom:5px;
font-size:14px;
}
.content{
margin-left:0;
padding:10px;
}

.card-dashboard{
padding:15px;
}

.numero{
font-size:22px;
}

h2{
font-size:20px;
}

}
